<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp">

    <w3-test-directive></w3-test-directive>

    <div data-ng-app="" data-ng-init="firstName='Bagus';quantity=1;price=5;name=['Jani','Hege','Kai'];names=[
    {name:'Jani',country:'Norway'},
    {name:'Hege',country:'Sweden'},
    {name:'Kai',country:'Denmark'}]">

        <p>Input something in the input box:</p>
        <p>Name: <input type="text" ng-model="firstName"></p>

        <h2>Cost Calculator</h2>

        Quantity: <input type="number" ng-model="quantity"> Price: <input type="number" ng-model="price">

        <p><b>Total in dollar:</b> {{quantity * price}}</p>

        <p>Looping with ng-repeat:</p>
        <ul>
            <li ng-repeat="x in name">
                {{ x }}
            </li>
        </ul>

        <p>Looping with objects:</p>
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}</li>
        </ul>
    </div>

    <script src="w3TestDirective.js"></script>
</body>

</html>